{% extends 'layout.html' %}

{% block body %}

<form action="" method="post" novalidate>
	<div class='row'>
		<div class='col-sm-4'>
		
			{{ form.hidden_tag() }}
			<p>
			{{ form.pool_appro.label }}<br>
			{{ form.pool_appro(size=3, class='form-control') }}<br>
			{{ form.approuve_pool(class='btn-primary') }}<br>
			{{ form.list_pool.label }}<br>
			{{ form.list_pool(size=3, class='form-control') }}<br>
			{{ form.efface_pool(class='btn-danger') }}<br>

			</p>
			{{ form.routine }}
		</div>
	</div>
</form>
<script>
	let joueur = JSON.parse({{ joueur_test| tojson }});
	console.log(joueur);
	let count = 0;
	const key = Object.keys(joueur)
	const affiche = () => {
		document.getElementById('affiche_json').innerHTML=joueur[key[count]];
		count += 1
	 };
</script>
<form>
	<input id='test_json' type='sumbit' value='test_json' onclick="affiche()">
	<p id='affiche_json'></p>
</form>
{% endblock %}